* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: rgb(187, 91, 184);
    text-decoration: none;
}


/* quiz start page styles */
.quiz-title {
    text-align: center;
    font-size: 40px;
    width: 100%;
}

.quiz-instruct {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    padding: 0 15%;
    width: 100%;
}

.start-quiz-btn {
    outline: none;
    border: none;
    padding: 18px;
    background:rgb(23, 4, 163);
    color: white;
    font-size: 22px;
    border-radius: 10px;
    position: relative;
    left: 45%;

}

/* quiz question styles */

.question {
    text-align: left;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 40px;
    width: 100%;
}

.answers {
}

.choiceButton {
    display:block;
    outline: none;
    padding-left: 15%;
    background:rgb(23, 4, 163);
    color: white;
    font-size: 22px;
    border-radius: 10px;
    height: 60px;
    margin-top: 10px;
    position: relative;
    left: 15%;
    width: 300px;
    text-align: left;
    padding-left: 10px;
}

.choiceButton:hover {
    background:rgb(187, 91, 184);
}

.correctness {
    visibility: hidden;
    border-top: 1px solid gray;
    width: 70%;
    position: relative;
    margin-top: 5%;
    font-size: 25px;
    left: 15%   
}

.hide {
    display:none;
}
.all-done h2 {
    text-align: left;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 40px;
    width: 100%;
}

.all-done p {
    text-align: left;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 30px;
    width: 100%;
}

.initials {
    display: flex;
    padding-left: 15%;
    justify-content: flex-start;
    width: 100%;
}

.initals-text {
    font-size: 30px;
}

.user-initials, .initials-submit {
    margin-left:15px;
}

.user-initials {
    border:3px solid rgb(23, 4, 163);
    width:30%;
    height: 50px;
    font-size: 25px;
    align-items: center;
    padding-left:15px;

}

.initials-submit {
    background:rgb(23, 4, 163);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
}


.initials-submit:hover {
    background:rgb(187, 91, 184);
}

.high-scores {
    margin-top: 20%;
}
.high-scores h2 {
    text-align: left;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 40px;
    width: 100%;
    margin-bottom:0px;
}

.score-list {
    list-style: none;
    margin-left: 15%;
    padding: 10px;
    margin-top: 0px;
  
    
}

.score {
    margin-bottom: 10px;
    background-color: rgb(224, 201, 248);
    line-height: 50px;
    font-size: 25px;
    width: 80%
} 

.score-buttons {
    margin-left: 15%;
}

.goback {
    background:rgb(23, 4, 163);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 130px;
    text-align: center;
    margin-right:30px;
}

.goback:hover {
    background:rgb(187, 91, 184);
}


.clear-scores {
    background:rgb(23, 4, 163);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    text-align: center;
}

.clear-scores:hover {
    background:rgb(187, 91, 184);
}